p {
  color: #00008b;
  text-align: left;
  font-family: calibri, verdana, comic sans;
  font-size: 12pt;
  font-style: italic;
}
body {
  /* background-color: #00008B; */
  background-image: url("../IMAGES/JadiIka.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  margin: 0cm 2cm; /* margin-top&bottom=0cm, margin-left&right=2cm */

  /* background-image: -moz-linear-gradient(blue,lightblue,darkblue); */
}
hr {
  border-width: 1px;
  border-color: darkblue;
  border-style: dashed;
}

/* grouping */
fieldset,
legend {
  border: red groove 5px;
  border-radius: 30px;
}

legend {
  padding: 10px;
  background-color: yellow;
  color: red;
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 5px;
}

/* -------------------pseudo class------------------ */
div#menu {
  text-align: center;
  font-family: ubuntu, calibri, tahoma;
  padding: 20px;
}

div#menu a:link,
a:visited,
a:active {
  text-decoration: none;
  color: blue;
  font-size: 14pt;
  color: #00008b;
  border: 1px solid #fffacd;
  padding: 5px;
  background-color: gold;
}

div#menu :hover {
  text-decoration: none;
  color: blue;
  font-size: 14pt;
  color: #00008b;
  border: 1px solid #fffacd;
  padding: 5px;
  background-color: rgb(0, 255, 34);
}
/* -------------pseudo element------------- */
p.p3:first-letter {
  color: red;
  font-weight: bold;
  font-size: 48pt;
  font-family: algerian;
  float: left;
  padding-right: 15px;
}

p.p3:first-line {
  color: green;
  font-style: italic;
}

ol {
  list-style-image: url(../IMAGES/musik.gif);
}

ul {
  list-style-image: url(../IMAGES/nyanyi.gif);
}

#atas,
#bawah {
  text-align: right;
}

h1 {
  text-shadow: 2px 2px greenyellow;
}
